.quality {
  background-color: $color-snow;

  padding: 53px 0;

  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    width: 35%;
    height: 100%;
    background-color: $color-pink-smoke;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    @media (max-width: 860px) {
      display: none;
    }
  }

  &__content-wrapper {
    display: flex;
    gap: 70px;
    justify-content: center;

    position: relative;

    z-index: 2;
    
    @media (max-width: 860px) {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  &__content-wrapper::after {
    content: "";
    min-width: 365px;
    min-height: 365px;

    border: 1px solid $color-pink-gold;
    border-radius: 50%;

    position: absolute;
    top: -50%;
    right: -10%;

    z-index: 0;
  }
  &__content-wrapper::before {
    content: "";
    min-width: 745px;
    min-height: 745px;

    border: 1px solid $color-pink-gold;
    border-radius: 50%;

    position: absolute;
    top: -10%;
    right: -30%;

    z-index: 0;
  }

  &__image-block {
    z-index: 1;

    position: relative;
  }

  &__image {
    height: 100%;
  }

  .control-block {
    position: absolute;
    bottom: -40px;
    right: 80px;
    display: flex;
    gap: 20px;

    font-family: "Prata";
    font-size: 12px;
    line-height: 16px;

    color: rgba(27, 26, 23, 0.82);

    @media (max-width: 860px) {
      right: 45%;
    }
  }

  &__description {
    width: 340px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: 860px) {
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: $color-dark;
  }

  &__text {
    line-height: 150%;
    color: $color-dark-gray;
    margin-top: 38px;
  }
  &__buttun {
    @extend %template-button;

    background-color: $color-pink-gold;

    margin-top: 45px;
  }
}
