body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
h1, h2 ,h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

input {
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
