%template-title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: $color-dark;
  text-align: center;

}

%template-button {
  padding: 26px 38px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $color-white;

  text-align: center;
  white-space: nowrap;
  
  text-transform: uppercase;
}
